{{!-- nav bar --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Your Anime List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Saved Anime</a>
            </li>
        </ul>
        <form class="form-inline">
            <label class="my-1 mr-2 info" for="inlineFormCustomSelectPref">Pick an Anime Season</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Season...</option>
                <option value="spring">spring</option>
                <option value="summer">summer</option>
                <option value="fall">fall</option>
                <option value="winter">winter</option>
            </select>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2">
                <option selected>Year...</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
            </select>

            <button type="button" class="btn btn-dark" id="render">Get New Anime</button>
            <button type="button" class="btn btn-dark" id="clear">Clear Anime</button>
        </form>
    </div>
</nav>

<div id="wrapper">
    <div id="articles">

        <div class="accordion" id="accordionExample">
            {{#each article}}
            <div class="card">
                <div class="card-header" id="heading{{_id}}">
                    <h5>{{title}}
                        <i class="fas fa-save" data-id="{{_id}}"></i>
                        {{#if comment}}
                        <i class="fas fa-sticky-note text-success" data-id="{{_id}}" data-toggle="collapse"
                            data-target="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}"></i>
                        {{else}}
                        <i class="fas fa-sticky-note" data-id="{{_id}}" data-toggle="collapse"
                            data-target="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}"></i>
                        {{/if}}
                    </h5>
                </div>
                <div class="card-body">
                    <img src="{{image}}">
                    <p class="card-text">{{summary}}</p>
                    <a href="https://www.livechart.me{{link}}" class="btn btn-danger">Learn More!</a>
                </div>
                <div id="collapse{{_id}}" class="collapse" aria-labelledby="heading{{_id}}"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input class="form-control title{{_id}}" id="exampleFormControlInput1"
                                placeholder="Title Here">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comment</label>
                            <textarea class="form-control body{{_id}}" id="exampleFormControlTextarea1" rows="3"
                                placeholder="Comment Here"></textarea>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark" id="save" data-id="{{_id}}">Save Comment</button>
                            <button type="button" class="btn btn-dark" id="delete" data-commentId="{{comment._id}}">Delete
                                Comment</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</div>

<div id="comment"></div>